h1 {
    color: rgb(237, 17, 17);
    font-weight: bold;
    text-decoration: underline;
    outline: 10px solid #008000;
    padding: 10px;
}
body {
    background-color: black ;
    font-size: larger;
    font-stretch: expanded;
    color:#00ff00
  }
